*/babel/*.json
.idea
*__pycache__*
*.egg-info
outputs/*
rendered_images/*
*tmp*
results/*
.DS_Store
**/.DS_Store

data/amass
data/smpl
debug
*.npz
*.pth
*.pt
*.npy
# *.png
# *.jpg
# *.jpeg
# *.gif

*.zip
data/hml3d/*
motion_data_x/*
results/*
*.txt
*.pkl
*.ckpt
*.bz2